.DS_Store
.idea/
CMakeLists.txt
a.out
cmake-build-debug/
main.c
/libft-unit-test/
*.o
libft-unit-test/.gitignore
libft-unit-test/README.md
libft-unit-test/assets/malloc.c
libft-unit-test/assets/wrapper.c
libft-unit-test/hardcore-mode/
libft-unit-test/include/
libft-unit-test/src/additional_functions.c
libft-unit-test/src/bench_functions.c
libft-unit-test/src/display_test_result.c
libft-unit-test/src/init.c
libft-unit-test/src/sandbox.c
libft-unit-test/src/signal.c
libft-unit-test/src/test_functions.c
libft.a
test.c
