.DS_Store
.idea/
CMakeLists.txt
a.out
cmake-build-debug/
main.c
/libft-unit-test/
ft_atoi.o
ft_bzero.o
ft_isalnum.o
ft_isalpha.o
ft_isascii.o
ft_isdigit.o
ft_isprint.o
ft_memccpy.o
ft_memchr.o
ft_memcmp.o
ft_memcpy.o
ft_memmove.o
ft_memset.o
ft_strchr.o
ft_strlcat.o
ft_strlcpy.o
ft_strlen.o
ft_strncmp.o
ft_strnstr.o
ft_strrchr.o
ft_tolower.o
ft_toupper.o
libft-unit-test/.gitignore
libft-unit-test/README.md
libft-unit-test/assets/malloc.c
libft-unit-test/assets/wrapper.c
libft-unit-test/hardcore-mode/
libft-unit-test/include/
libft-unit-test/src/additional_functions.c
libft-unit-test/src/bench_functions.c
libft-unit-test/src/display_test_result.c
libft-unit-test/src/init.c
libft-unit-test/src/sandbox.c
libft-unit-test/src/signal.c
libft-unit-test/src/test_functions.c
libft.a
test.c
